.Payment__header{
    padding: 20px;
    text-align: center;
    background-color: rgb(234, 236, 235);
    font-size: 24px;
}
.payment{
    padding: 30px;
}
.payment__stacker{
    display: flex;
    gap:20px;
    padding: 30px;
}
.payment__stacker
    h3{
    min-width: 300px;
}
.payment__stacker
    image{
    width: 80px !important;
}
.payment__stacker
    div{
    height: auto !important;
}
.payment__card{
    max-width: 150px;
    width:100%;
}
.payment__info{
    font-size: 20px;
}
.payment__price{
    padding: 20px;
}
.payment__price > div{
    display: flex;
    font-size: 16px;
    gap: 10px;
}
.payment__price button{
    margin-top: 15px;
    border:none;
    width: 100%;
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: 8px 10px;
    cursor: pointer;
}
.payment__info button:hover{
    background-color: var(--primary-color);
}