.header__container {
    display: flex;
    align-items: center;
    background-color: #131921;
    padding: 10px 20px;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    justify-content: space-between;
    height: 40px
  }
.left__section {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-right: 8px;
  }
.logo__link {
    display: inline-block;
  }
.logo__img {
    width: 80px;
    height: 40px;
    object-fit: contain;
}
.delivery__info {
    display: flex;
    align-items: center;
    color: white;
}
.delivery__text {
    font-size: 12px;
    margin: 0;
  }
  .delivery__location {
    font-size: 14px;
    font-weight: bold;
  }
  .search__container {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 4px;
    background-color: white;
    overflow: hidden;
  }
  .search__select, .search__input {
    padding: 10px;
    border: none;
    outline: none;
  }
.search__input {
    flex: 1;
  }
  
  .search__button {
    padding: 10px;
    background-color: #febd69;
    border: none;
    cursor: pointer;
  }
  .search__icon {
    width: 20px;
  }
  .flag__icon{
    width: 70px;
  }
.right__section {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .right__section .language__container{
    padding-left: 6px;
  }
  .right__section .language__container img{
    width: 40px;
    height: 40px;
  }
  .language__select{
    background-color: #1a1a1a;
    border: none;
    color: white;
}
.account__link, .orders__link, .cart__link {
    text-decoration: none;
    color: white;
  }
.account__link span, .orders__link span {
    font-weight: bold;
  }
.cart__link {
    position: relative;
    display: flex;
    align-items: center;
  }
.cart__img {
    width: 50px;
  }
  
  .cart__count {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #f08804;
    padding: 2px 6px;
    border-radius: 50%;
    color: black;
    font-weight: bold;
  }
.logo__link:hover{
  border: white 1px solid;
  border-radius: 5px;
} 
.delivery__info:hover{
  border: white 1px solid;
  border-radius: 5px;
}
.language__container:hover{
    border: white 1px solid;
  border-radius: 5px;  
}
.account__link:hover{
  border: white 1px solid;
  border-radius: 5px;
}
.orders__link:hover {
  border: white 1px solid;
  border-radius: 5px;
}
.cart__link:hover{
  border: white 1px solid;
  border-radius: 5px;
}
  @media (max-width: 768px) {

    .header__container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .right__section {
      margin-top: 10px;
    }
  
    .lower__container ul {
      flex-direction: column;
      gap: 10px;
    }
  }
  
  @media (max-width: 576px) {
    .delivery__info, .account__link, .orders__link, .cart__link span {
      display: none;
    }
    .search__container {
      flex: 1;
    }
  
    .nav__list {
      display: none;
    }
  }
  