.lower__container {
    background-color: #232f3e;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 20px;
  }
  
  .menu__button {
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
  }
  .menu__icon{
    width: 30px;
    padding-right: 6px;
  }
  
  .nav__list {
    list-style: none;
    display: flex;
    gap: 16px;
    padding-left: 18px;
  }
  
  .nav__list li {
    cursor: pointer;
  }
  
  .nav__list li:hover{
    border: white 1px solid;
    border-radius: 5px;
  }
  .lower__container span:hover{
    border: white 1px solid;
    border-radius: 3px;
  }
  @media (max-width: 576px) {
    /* Compact layout for mobile screens */
    .nav__list {
      display: none; /* Hide the navigation list */
    }
  
    .lower__container {
      padding: 10px;
      justify-content: center; /* Center the menu button */
    }
  
    .menu__button {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }