html, body, #root {
  min-height: 100vh;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #f3f3f3;
  box-sizing: border-box;
}
*{
    /* font-family: sans-serif; */
}
:root{
    --primary-color: #febd69;
    --primary-shade: #d49644;
}